/* VIEVPORT 1200PX */

@media screen and (max-width: 1200px) {
    .ad {
      display: none;
    }
  
    .play-list {
      flex-wrap: wrap;
      gap: 20px 0;
    }
  
    .play-list-item {
      width: 32%;
    }

    .categories li:nth-child(9) {
      position: relative;
    }
    
    .categories li:nth-child(9)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent, #202020);
    }

    .categories li:nth-child(10) {
      display: none;
    }
  }

  /* VIEWPORT 1110px */

  @media screen and (max-width: 1110px) {
    .categories li:nth-child(8) {
      position: relative;
    }
    
    .categories li:nth-child(8)::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, transparent, #202020);
    }

    .categories li:nth-child(9) {
      display: none;
    }
  }

/* VIEVPORT 1024PX */

@media screen and (max-width: 1024px) {
  .play-list-item {
    width: 49%;
  }

  .side-bar {
    width: 80px;
  }

  .menu-item.none {
    display: none;
  }

  .widget {
    border-bottom: 0;
    padding: 0;
  }

  .widget:nth-child(3) {
    display: none;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu-item .icon {
    margin: 0;
    padding: 5px 0;
  }

  .categories li:nth-child(7) {
    position: relative;
  }
  
  .categories li:nth-child(7)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #202020);
  }

  .categories li:nth-child(8) {
    display: none;
  }
}

/* VIEWPORT 860PX */

@media screen and (max-width: 860px) {
  .search-bar__input {
    max-width: 30vw;
  }

  .categories li:nth-child(6) {
    position: relative;
  }
  
  .categories li:nth-child(6)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #202020);
  }

  .categories li:nth-child(7) {
    display: none;
  }
}

/* VIEWPORT 768PX */

@media screen and (max-width: 768px) {
  .search-bar__input {
    max-width: 20vw;
  }

  .play-list-item {
    width: 100%;
  }

  .side-bar {
    display: none;
  }

  .categories li:nth-child(5) {
    position: relative;
  }
  
  .categories li:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #202020);
  }

  .categories li:nth-child(6) {
    display: none;
  }
}

/* VIEWPORT 660px */

@media screen and (max-width: 660px) {
  .search-bar {
    display: none;
  }

  .smartphone-button {
    display: initial;
  }

  .categories li:nth-child(4) {
    position: relative;
  }
  
  .categories li:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #202020);
  }

  .categories li:nth-child(5) {
    display: none;
  }
}

/* FINE */