/* SCROLL-BAR STYLE */

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {visibility: hidden; border-radius: 5px; background: #717171; }
.side-bar:hover::-webkit-scrollbar-thumb {visibility: visible;}

/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  font-size: 12px;
  color: #FFFFFF;
}

/* ---------------------------------------------------------------------------------------------------- */

/* PRESET VARI */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #202020;
}

header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-grow: 1;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */
/* HEADER */

.burger-logo {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  padding: 20px;
  font-size: 16px;
  color: #C7C7C7;
}

.logo {
  width: 90px;
  display: flex;
  justify-content: flex-end;
}

.logolang {
  padding-top: 9px;
  font-size: 10px;
  color: #9A9A9A;
}

.search-bar {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.search-bar__input {
  width: 40vw;
  height: 35px;
  padding: 0 8px;
  border: 1px solid #303030;
  box-shadow: none;
  font-size: 14px;
  z-index: 1;
  color: #E2E2E2;
  background: #121212;
}

.search-bar__input:focus {
  height: 33px;
  border: none;
  outline: 1px solid #1B59A5;
}

.search-bar__input::-webkit-search-cancel-button{
  font-size: 19px;
}

.search-button {
  line-height: 33px;
  font-size: 16px;
  border: 1px solid #303030;
  background: #303030;
}

.search-button a {
  padding: 0 18px;
  color: #CCCCCC;
}

.vocal-search {
  margin-left: 5px;
  border-radius: 50%;
  font-size: 16px;
  background: #181818;
}

.vocal-search a {
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.header-actions {
  padding: 0 28px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.header-actions a {
  color: #C7C7C7;
}

.smartphone-button {
  display: none;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  overflow: hidden;
}

/* ---------------------------------------------------------------------------------------------------- */

/* MAIN */

.side-bar {
  width: 240px;
  height: calc(100vh - 50px);
  flex-shrink: 0;
  overflow: auto;
}

.widget {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #383838;
}

.menu-item {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.menu-item:hover, .menu-item.active {
  background: #383838;
}

.menu-item .icon {
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 20px;
  text-align: center;
}

.icon i {
  display: block;
}

.widget__title {
  margin: 5px 0;
  padding-left: 13px;
  text-transform: uppercase;
  font-size: 14px;
  color: #AAAAAA;
}

.menu-item .profile-image {
  width: 24px;
  display: block;
  border-radius: 50%;
}

.main-container {
  flex-grow: 1;
  background: #181818;
}

.categories {
  padding: 15px 30px;
  display: flex;
  gap: 15px;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  background: #202020;
}

.categories li {
  padding: 0 15px;
  line-height: 30px;
  white-space: nowrap;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 1px solid #4B4B4B;
  font-weight: bolder;
  background: #373737;
  overflow: auto;
}

.categories li:nth-child(1) {
  border: 1px solid #FFFFFF;
  color: black;
  background: #FFFFFF;
}

.categories li:nth-child(11) {
  border: none;
  background: none;
  transition: 200Ms linear;
  color: #AAAAAA;
}

.categories li:nth-child(11):hover {
  color: #FFFFFF;
}

.play-list-wrapper {
  padding: 20px 30px;
}

.play-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;
}

.play-list-item {
  width: 24%;
}

.badge-ad {
  padding: 3px;
  margin-right: 5px;
  border-radius: 5px;
  font-weight: 500;
  background: #FBBF2D;
  color: #030303;
}

.flex-h3 {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ad-info {
  padding-bottom: 6px;
}

.card-header {
  margin-bottom: 10px;
}

.card-header img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.play-list-item .card-body {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.card-body img {
  width: 30px;
  border-radius: 50%;
}

/* FINE */